.tab {
    padding: 25px 50px;
    background-color: #ccc;
    text-align: center;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    color: gray;
    cursor: pointer;
}

.tab.active {
    background-color: white;
    color: black;
    border-bottom: 1px solid transparent;
}

.tab.active .badge {
    color: white;
    background-color: #c44;
}

.tab .badge {
    color: #444;
    background-color: #999;
}